{% block content %}
    <ul class="slides">
       {% for s in slides %}
        <li><img alt="Exterior Front" height="800" src="images/1400/{{s.file}}" width="1400"></li>
        {% endfor %}
    </ul>
{% endblock %}